@import "./Variable/Variables";
@import "./Component/Home";
@import "./Component/NavBar";
@import "./Component/ColorSec";
@import url('https://fonts.googleapis.com/css?family=Poppins|PT+Sans|Roboto:400,500,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}